<div class="filter-table">
  <div class="button-group">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle (click)="filter.emit(group.value)" value="all">
        All
      </mat-button-toggle>
      <mat-button-toggle (click)="filter.emit(group.value)" value="pending">
        Pending
      </mat-button-toggle>
      <mat-button-toggle (click)="filter.emit(group.value)" value="completed">
        Completed
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
